#mapContainer {
  backgroundColor: #ccc;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

#legend {
  border: 1px solid #595A5C;
  border-radius: 15px;
  padding: 0px 15px 0px 15px;
  display: inline-block;
  margin-top: 35px;
}

html, body, a:visited {
  margin: 0;
  height: 100%;
  font-family: "Helvetica", serif;
  background-color: #F9FAFC;
  color: #ccc;

}

a:hover {
  color: #008999;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 500px;
  height: 100%;
  padding: 10px 30px 15px 30px;
  box-sizing: border-box;
  background-color: #191A1A;

}

.sidebar h3 {
  font-size: 48px;
  font-weight: 800;
  color: #98f0fa;
}


/* button from https://getcssscan.com/css-buttons-examples */
.button-1 {
  background-color: #191A1A;
  border-radius: 8px;
  border-style: solid;
  border-color: #3e3e3e
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#toggle-100yr-fp:hover{
  border-color: #98F0FA;
}

#toggle-500yr-fp:hover{
  border-color: #008999;
}
/*end button*/
