#mapContainer {
  backgroundColor: #ccc;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

#legend {
  border: 2px solid #e3e3e3;
  border-radius: 15px;
  padding: 0px 15px 0px 15px;
  display: inline-block;
  margin-top: 35px;
}

html, body, a:visited {
  margin: 0;
  height: 100%;
  font-family: "Helvetica", serif;
  background-color: #F9FAFC;
  color: #e3e3e3;

}

a:hover {
  color: #98F0FA;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 500px;
  height: 100%;
  padding: 10px 30px 15px 30px;
  box-sizing: border-box;
  background-color: #191A1A;

}

.sidebar h3 {
  font-size: 48px;
  font-weight: 800;
  color: #98f0fa;
}


/*toggle styling*/
#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Helvetica', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}
/*end toggle styling*/
